*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 30px;
  padding: 133px 30px 133px 30px;
  min-width: 1140px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  padding-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 38px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  margin-right: 40px;
}

.search-form__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  width: 212px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: inline-block;
  margin-top: 5px;
  background-color: transparent;
  position: relative;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: flex;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
  margin-top: 1px;
  margin-left: 1px;
}

.search-form__checkbox-list:hover {
  text-decoration: underline 1px #fff;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
  width: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: grid;
  position: relative;
  height: 298px;
  gap: 30px;
  overflow: auto;
}

.content__list {
  display: flex;
  position: relative;
  flex-direction: column;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-item:has(.content__card-link_current) {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description {
  font-weight: 400;
  color: #fff;
  padding-top: 26px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  max-width: 200px;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.button {
  height: 34px;
  border: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
